@charset "UTF-8";
.flx_player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flx_player .flx_hand {
  flex: 3 0;
}
.flx_player .flx_keepers {
  flex: 1 0;
}
.flx_player .flx_hand {
  margin-right: 10px;
}

.flx_table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flx_table .flx_deck {
  flex: 1 0;
  padding-top: 42px;
  margin-right: 10px;
}
.flx_table .flx_deck .flx_card-count {
  padding: 5px;
}
.flx_table .flx_goal {
  flex: 1 0;
  margin-right: 10px;
}
.flx_table .flx_rules {
  flex: 1 0;
}
.flx_table .flx_rules .flx_card-stack {
  position: relative;
  margin: auto;
  width: 350px;
  height: 415px;
}
.flx_table .flx_rules .flx_card-stack .flx_card-stack-center {
  position: absolute;
  left: 97px;
}
.flx_table .flx_rules .flx_card-stack .flx_card-stack-left {
  position: absolute;
  top: 153px;
  left: 0px;
}
.flx_table .flx_rules .flx_card-stack .flx_card-stack-right {
  position: absolute;
  top: 153px;
  left: 187px;
}
.flx_table .flx_card {
  width: 166px;
  height: 258px;
}
.flx_table .flx_deck-card {
  background-image: url("img/cards.png");
  background-position: -1500% -500%;
}
.flx_table #discardStock {
  border: 1px;
}
.flx_table #baseRuleCard {
  width: 166px;
  height: 258px;
  background-image: url("img/cards.png");
  background-position: -1400% -500%;
}

.flx_other_players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flx_other_players .flx_keepers {
  flex: 1 0;
  margin-right: 10px;
}
.flx_other_players .flx_keepers:last-child {
  margin-right: 0px;
}

.flx_icons {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(img/icons.png);
}

.flx_icons_hand {
  width: 23px;
  height: 33px;
  background-position: 0px 0px;
}

.flx_icons_keeper {
  width: 22px;
  height: 33px;
  background-position: -23px 0px;
}

/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * fluxx implementation : © Alexandre Spaeth <alexandre.spaeth@hey.com> & Julien Rossignol <tacotaco.dev@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * fluxx.css
 *
 * fluxx stylesheet
 *
 */
/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (fluxx_fluxx.tpl), and to HTML elements you create dynamically
    (in fluxx.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
/* Note: you must not use any @import directive */
/********* You can start writing your CSS below this line: **********/
