@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * fluxx implementation : © Alexandre Spaeth <alexandre.spaeth@hey.com> & Julien Rossignol <tacotaco.dev@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * fluxx.css
 *
 * fluxx stylesheet
 *
 */
/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (fluxx_fluxx.tpl), and to HTML elements you create dynamically
    (in fluxx.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
/* Note: you must not use any @import directive */
/********* You can start writing your CSS below this line: **********/
#tmpHand:empty {
  display: none;
}

.flx-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-player .flx-hand {
  margin-right: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3 0;
          flex: 3 0;
}

.flx-player .flx-keepers {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.flx-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-table .flx-deck {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  padding-top: 42px;
  margin-right: 10px;
}

.flx-table .flx-deck .flx-card-count {
  padding: 5px;
}

.flx-table .flx-goal {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  margin-right: 10px;
}

.flx-table .flx-rules {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.flx-table .flx-rules .flx-card-stack {
  position: relative;
  margin: auto;
  width: 350px;
  height: 415px;
}

.flx-table .flx-rules .flx-card-stack .flx-card-stack-center {
  position: absolute;
  left: 90px;
}

.flx-table .flx-rules .flx-card-stack .flx-card-stack-left {
  position: absolute;
  top: 153px;
  left: 0px;
}

.flx-table .flx-rules .flx-card-stack .flx-card-stack-right {
  position: absolute;
  top: 153px;
  left: 180px;
}

.flx-table .flx-card {
  width: 166px;
  height: 258px;
}

.flx-table .flx-deck-card {
  background-image: url("img/cards.png");
  background-position: -1500% -500%;
}

.flx-table .flx-deck-card.flx-deck-empty {
  background-position: -1600% -500%;
}

.flx-table #discardStock {
  border: 1px;
}

.flx-table #baseRuleCard {
  width: 166px;
  height: 258px;
  background-image: url("img/cards.png");
  background-position: -1400% -500%;
}

.flx-other-players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-other-players .flx-keepers {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  margin-right: 10px;
}

.flx-other-players .flx-keepers:last-child {
  margin-right: 0px;
}

.flx-icons {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(img/icons.png);
}

.flx-icons-hand {
  width: 23px;
  height: 33px;
  background-position: -0px -0px;
}

.flx-icons-keeper {
  width: 22px;
  height: 33px;
  background-position: -23px -0px;
}

.flx-icons-creeper {
  width: 22px;
  height: 33px;
  background-position: -46px -0px;
}

.flx-board {
  margin-top: 5px;
}

.flx-board > div {
  display: inline-block;
  margin-right: 10px;
}

.no-creepers {
  display: none !important;
}

.newDrawnCard {
  outline-color: darkslategray;
  outline-style: solid;
  outline-width: medium;
}

.flx-card-tooltip {
  display: block;
}

.flx-card-tooltip .card-name {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

.flx-card-tooltip .card-type {
  display: inline-block;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 18px;
  font-style: italic;
}

.flx-card-tooltip .card-subtitle {
  font-weight: bolder;
  font-size: 16px;
}

.flx-card-tooltip .card-description {
  font-weight: normal;
  font-size: 14px;
}

.flx-card-tooltip-keeper .card-type {
  color: #9DC139;
}

.flx-card-tooltip-creeper .card-type {
  color: #000000;
}

.flx-card-tooltip-action .card-type {
  color: #0099CD;
}

.flx-card-tooltip-goal .card-type {
  color: #D23F7F;
}

.flx-card-tooltip-rule .card-type {
  color: #D7B424;
}

.flx-card-title-base {
  font-family: "Brown", "Futura", sans-serif;
}

.flx-card-title-creeperpack {
  font-family: "Bernard MT Condensed", "Impact", sans-serif-condensed;
}

.card-overlay-title {
  display: block;
  margin-left: 41px;
  margin-right: 10px;
  width: 115px;
  height: 28px;
  background-color: #EFF0F0;
}

.card-overlay-title .card-type {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 16px;
}

.flx-card {
  font-family: "Helvetica Neue", "Helvetica";
}

.card-overlay {
  display: block;
  margin-left: 41px;
  margin-right: 10px;
  width: 115px;
  background-color: #EFF0F0;
}

.card-overlay .card-name {
  font-weight: bold;
  font-size: 15px;
}

.card-overlay .card-subtitle {
  font-weight: bolder;
  font-size: 11px;
  margin-bottom: 2px;
}

.card-overlay .card-description {
  font-weight: normal;
  font-size: 9px;
}

.flx-keepers .card-overlay-title {
  display: none;
}

.flx-keepers .card-overlay {
  display: none;
}

.flx-card-action .card-overlay {
  height: 195px;
}

.flx-card-action .card-name {
  margin-top: 5px;
}

.flx-card-goal .card-name {
  margin-top: 5px;
}

.flx-card-keeper .card-name {
  margin-top: 180px;
}

.flx-card-rule .card-overlay {
  height: 110px;
}

.flx-card-rule .card-name {
  margin-top: 90px;
}
/*# sourceMappingURL=fluxx.css.map */