$font-stack-default: "Helvetica Neue","Helvetica";
$font-stack-title-base: "Brown","Futura",sans-serif;
$font-stack-title-creepers: "Bernard MT Condensed","Impact",sans-serif-condensed;
$card-height: 233px;
$card-width: 150px;
$card-height-title: 26px;
$card-margin-left: 38px;
$card-margin-right: 8px;
$card-margin-top: 14px;
$card-margin-bottom: 14px;
$card-width-inner: $card-width - $card-margin-left - $card-margin-right;
$card-height-inner: $card-height - $card-height-title - $card-margin-top - $card-margin-bottom;
$color-cardwhite: #EFF0F0;
$color-keeper: #9DC139;
$color-creeper: #000000;
$color-action: #0099CD;
$color-goal: #D23F7F;
$color-rule: #D7B424;

.newDrawnCard {
  outline-color: darkslategray;
  outline-style: solid;
  outline-width: medium;    
}

.flx-card-tooltip {
  display: block;

  .card-name {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
  }
  
  .card-type {
    display: inline-block;
    margin-left: 20px;
    font-weight: bolder;  
    font-size: 18px;
    font-style: italic;
  }
  
  .card-subtitle {
    font-weight: bolder;
    font-size: 16px;
  }
  
  .card-description {
    font-weight: normal;
    font-size: 14px;
  }
}

.flx-card-tooltip-keeper {
  .card-type {
    color: $color-keeper;
  }
}

.flx-card-tooltip-creeper {
  .card-type {
    color: $color-creeper;
  }
}

.flx-card-tooltip-action {
  .card-type {
    color: $color-action;
  }
}

.flx-card-tooltip-goal {
  .card-type {
    color: $color-goal;
  }
}

.flx-card-tooltip-rule {
  .card-type {
    color: $color-rule;
  }
}

.flx-card-title-base {
  font-family: $font-stack-title-base;
}
.flx-card-title-creeperpack {
  font-family: $font-stack-title-creepers;
}

.card-overlay-title {
  display: block;
  margin-left: $card-margin-left;
  margin-right: $card-margin-right;
  width: $card-width-inner;
  height: $card-height-title;
  background-color: $color-cardwhite;

  .card-type {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: $card-margin-top;    
  }
}

.flx-card {
  font-family: $font-stack-default;
}

.card-overlay {
  display: block;
  margin-left: $card-margin-left;
  margin-right: $card-margin-right;
  width: $card-width-inner;
  background-color: $color-cardwhite;

  .card-name {
    font-weight: bold;
    font-size: 14px;
  }
  
  .card-subtitle {
    font-weight: bolder;
    font-size: 10px;
    margin-bottom: 2px;
  }
  
  .card-description {
    font-weight: normal;
    font-size: 8px;  
  }
}

.flx-keepers {
  .card-overlay-title {
    display: none;
  }
  .card-overlay {
    display: none;
  }
}

.flx-card-action {
  .card-overlay {
    height: $card-height-inner - 5px;
  } 
  .card-name {
    margin-top: 5px;    
  }
}

.flx-card-goal {
  .card-name {
    margin-top: 5px;
  }
}

.flx-card-keeper {
  .card-name {
    margin-top: $card-height-inner - 20px;    
  }
}

.flx-card-rule {
  .card-overlay {
    height: $card-height-inner * 0.55;
  }
  .card-name {
    margin-top: $card-height-inner * 0.45;
  }
}

.flx-card-creeper {
  .card-overlay {
    background-color: transparent;
  }
  .card-name {
    margin-top: 5px;
  }
  .card-description {
    margin-top: $card-height-inner * 0.40;    
  }
}