.flx_icons {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(img/icons.png);
}

.flx_icons_hand {
  width: 23px;
  height: 33px;
  background-position: -0px -0px;
}
.flx_icons_keeper {
  width: 22px;
  height: 33px;
  background-position: -23px -0px;
}
