.keepers {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 5px;

  /* .stockitem {
      display: inline-block;
      position: relative;
      width: 140px;
      height: 217px;
    } */
}
