.flx_other_players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .flx_keepers {
    flex: 1 0;
    margin-right: 10px;
  }

  .flx_keepers:last-child {
    margin-right: 0px;
  }
}
