#tmpHand:empty {
  display: none;
}

.flx-player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .flx-hand {
    margin-right: 10px;
    flex: 3 0;
  }

  .flx-keepers {
    flex: 1 0;
  }
}
