.flx-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .flx-deck {
    flex: 1 0;
    padding-top: 42px;
    margin-right: 10px;

    .flx-card-count {
      padding: 5px;
    }
  }

  .flx-goal {
    flex: 1 0;
    margin-right: 10px;
  }

  .flx-rules {
    flex: 1 0;

    .flx-card-stack {
      position: relative;
      margin: auto;
      width: 350px;
      height: 415px;

      .flx-card-stack-center {
        position: absolute;
        left: 90px;
      }
      .flx-card-stack-left {
        position: absolute;
        top: 153px;
        left: 0px;
      }
      .flx-card-stack-right {
        position: absolute;
        top: 153px;
        left: 180px;
      }
    }
  }

  .flx-card {
    width: 166px;
    height: 258px;
  }
  .flx-deck-card {
    background-image: url("img/cards.png");
    background-position: -1500% -500%;
  }
  #discardStock {
    border: 1px;
  }
  #baseRuleCard {
    width: 166px;
    height: 258px;
    background-image: url("img/cards.png");
    background-position: -1400% -500%;
  }
}
