.flx-table {
  position: relative;
  justify-content: center;

  .flx-card,
  .flx-discard {
    width: 132px;
    height: 205px;
  }

  .flx-goal {
    height: 255px;
    width: 280px;
    position: relative;
  }

  .flx-deck {
    height: 255px;
    width: 280px;
    position: relative;
    padding-top: 40px;

    .flx-deck-card {
      position: absolute;

      background-image: url("img/cards.png");
      background-position: -1500% -500%;

      &.flx-deck-empty {
        background-position: -1600% -500%;
      }
    }

    .flx-discard {
      transition: left 1s;
      position: absolute;
      left: 150px;
      border: 1px;
    }

    .flx-card-count {
      position: absolute;
      z-index: 200;
      bottom: 5px;
      right: 5px;
      text-align: center;

      font-size: 19px;
      font-weight: bold;

      width: 30px;
      height: 25px;
      line-height: 25px;
      background: #fff8;
    }

    #discardToggleBtn {
      position: absolute;
      bottom: 10px;
    }
  }

  .flx-discard-visible {
    .flx-deck {
      width: 100%;
      height: auto;

      .flx-discard {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
      }

      .flx-card-count {
        display: none;
      }

      #discardToggleBtn {
        position: initial;
        padding-top: 10px;
      }
    }
  }

  .flx-rules {
    .flx-card-stack {
      position: relative;
      margin: auto;
      width: 350px;
      height: 415px;

      .flx-card-stack-center {
        position: absolute;
        left: 90px;
      }
      .flx-card-stack-left {
        position: absolute;
        top: 153px;
        left: 0px;
      }
      .flx-card-stack-right {
        position: absolute;
        top: 153px;
        left: 180px;
      }
    }
  }

  #baseRuleCard {
    width: 132px;
    height: 205px;
    background-image: url("img/cards.png");
    background-position: -1400% -500%;
  }
}
